:root {
  /* color pallette by https://github.com/YV31/gruvbox-css/blob/master/src/gruvbox-dark.css */
  --bg_h: #1d2021;
  --bg: #282828;
  --bg_s: #32302f;
  --bg1: #3c3836;
  --bg2: #504945;
  --bg3: #665c54;
  --bg4: #7c6f64;

  --fg: #fbf1c7;
  --fg1: #ebdbb2;
  --fg2: #d5c4a1;
  --fg3: #bdae93;
  --fg4: #a89984;

  --red: #fb4934;
  --green: #b8bb26;
  --yellow: #fabd2f;
  --blue: #83a598;
  --purple: #d3869b;
  --aqua: #8ec07c;
  --gray: #928374;
  --orange: #fe8019;

  --red-dim: #cc2412;
  --green-dim: #98971a;
  --yellow-dim: #d79921;
  --blue-dim: #458588;
  --purple-dim: #b16286;
  --aqua-dim: #689d6a;
  --gray-dim: #a89984;
  --orange-dim: #d65d0e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  /* border: 1px solid blue; */
}

body {
  height: 100vh;
  background-color: var(--bg_h);
  color: var(--fg2);
  margin-top: 0;
  width: min(100% - 2rem, 70vw);
  margin-inline: auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.25rem;
}

/* region:    --- Button */

button {
  background-color: var(--orange-dim);
  border: none;
  border-radius: 0.25rem;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  color: var(--fg1);
  font-weight: 700;
  cursor: pointer;
}

button:hover,
button:focus,
button:focus-within,
button:focus-visible,
button:target {
  background-color: var(--orange);
}

/* endregion: --- Button */

/* region:    --- Normal Colors */

.red {
  color: var(--red);
}

.green {
  color: var(--green);
}

.yellow {
  color: var(--yellow);
}

.blue {
  color: var(--blue);
}

.purple {
  color: var(--purple);
}

.aqua {
  color: var(--aqua);
}

.gray {
  color: var(--gray);
}

.orange {
  color: var(--orange);
}

/* endregion: --- Normal Colors */

/* region:    --- Dim Colors */

.red-dim {
  color: var(--red-dim);
}

.green-dim {
  color: var(--green-dim);
}

.yellow-dim {
  color: var(--yellow-dim);
}

.blue-dim {
  color: var(--blue-dim);
}

.purple-dim {
  color: var(--purple-dim);
}

.aqua-dim {
  color: var(--aqua-dim);
}

.gray-dim {
  color: var(--gray-dim);
}

.orange-dim {
  color: var(--orange-dim);
}

/* Foreground Colors */

.fg {
  color: var(--fg);
}

.fg1 {
  color: var(--fg1);
}

.fg2 {
  color: var(--fg2);
}

.fg3 {
  color: var(--fg3);
}

.fg4 {
  color: var(--fg4);
}

/* endregion: --- Dim Colors */

/* region:    --- Background Colors */

.bg-hard {
  color: var(--bg_h);
}

.bg {
  color: var(--bg);
}

.bg-soft {
  color: var(--bg_s);
}

.bg1 {
  color: var(--bg1);
}

.bg2 {
  color: var(--bg2);
}

.bg3 {
  color: var(--bg3);
}

.bg4 {
  color: var(--bg4);
}

/* endregion: --- Background Colors */

/* region:    --- UI */

.instruction {
  font-size: 0.74rem;

  /* temporary */
  padding-block: 0.5rem;
}

/* endregion: --- UI */
